*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background: linear-gradient(135deg,#74b9ff,#a29bfe);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container{
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}
h2{
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
}
.input-group{
    position: relative;
    margin-bottom: 25px;
    
}
input{
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    border: 1px solid #dfe6e9;
    border-radius: 8px;
    background: #f0f4f8;
    font-size: 16px;
    transition: border-color 0.3s;

}
input:focus{
    outline: none;
    border-color: #74b9ff;
}
label{
    position: absolute;
    top: -15px;
    font-size: 16px;
    color: #aaa;
    transition: all 0.3s;
    
}


.error{
    color: red;
    font-size: 0.85em;
    margin-top: 5px;
    display: none;
    text-align: left;
}
button{
    width: 100%;
    padding: 10px;
    background-color: #0984e3;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}
button:hover{
    background-color: #74b9ff;
}
@media(max-width:480px){
    .form-container{
        width: 90%;
    }
}